{% extends 'base.html' %}

<!-- Conteúdo -->
{% block content %}

<div id="book-list-page">
  <!-- Lista de livros -->
  <div id="book-list" class="mx-auto p-5">
    <h2 class="d-inline-block text-left text-blue ml-4">Meus Livros</h2>
    {% if books|length %}
    <div class="d-flex flex-wrap mt-3">
      {% for book in books %}
      <div class="book mx-4 mb-4 d-flex flex-column">
        <img src="{{ book.link }}" alt="{{ book.title }}" class="border" />
        <span
          class="h4 mt-2 w-100 text-secondary font-weight-bold text-decoration-none"
        >
          {{ book.title }}
        </span>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <div class="ml-4 mt-5">
      <span
        >Parece que você não cadastrou nenhum livro... Clique
        <a href="/books/register">aqui</a> para cadastrar!</span
      >
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
