{% extends "home.html" %}

<!-- Conteúdo -->
{% block content %}
<div
  id="sign-up-page"
  class="container d-flex justify-content-center align-items-center flex-column"
>
  <!-- Formulário de cadastro -->
  <form class="center-form" method="POST">
    <h1 class="text-blue text-center"><b>Cadastrar</b></h1>
    <!-- Nome -->
    <input
      id="username"
      type="text"
      name="username"
      placeholder="Nome"
      class="form-control my-3 text-center"
      value="{{ username }}"
      required
    />
    <!-- Email -->
    <input
      id="email"
      type="email"
      name="email"
      placeholder="Email"
      class="form-control my-3 text-center"
      value="{{ email }}"
      required
    />
    <!-- Senha -->
    <div class="d-flex my-3">
      <input
        id="password"
        type="password"
        name="password"
        placeholder="Senha"
        class="form-control mr-3 text-center"
        required
      />
      <input
        id="confirmPassword"
        type="password"
        name="confirmPassword"
        placeholder="Repita a senha"
        class="form-control text-center"
        required
      />
    </div>

    <!-- Submit -->
    <div class="text-center mt-5">
      <button id="sign-up-btn" type="submit" class="btn form-btn">
        <b>CADASTRAR</b>
      </button>
    </div>
  </form>
</div>
{% endblock %}

<!-- Scripts -->
{% block script %}
<script>
  const password = document.getElementById("password");
  const confirmPassword = document.getElementById("confirmPassword");
  const email = document.getElementById("email");

  // Senhas iguais
  confirmPassword.oninput = () => {
    confirmPassword.setCustomValidity(
      password.value !== confirmPassword.value
        ? "As senhas devem ser iguais"
        : ""
    );
    confirmPassword.reportValidity();
  };

  <!-- Email único -->
  {% if noUniqueEmail %}
    email.setCustomValidity('Email já cadastrado');
    email.reportValidity();

    email.oninput = () => {
      email.setCustomValidity("");
      email.reportValidity();
    }
  {% endif %}
</script>

{% endblock %}
